:root {
    --hoofd-tekst: rgb(0, 0, 0);
    --alt-tekst: #fff;
    --achtergrond: #418ECE;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: var(--hoofd-tekst);
    background-color: var(--achtergrond);
    height: 100vh;
    display: flex;
    background: #060AB2;
}

.wrapper {
    position: absolute;
    width: 100vh;
    left: 50%;
    top: 50%;
    display: flex;
    text-align: center;
    flex-direction: column;
    transform: translate(-50%, -50%);
    gap: 20px;
}

.timer {
    background: linear-gradient(to right, rgb(84, 187, 221), rgb(153, 18, 40));
    color: var(--alt-tekst);
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.timer h1 {
    width: 50%;
}

.timer h1:hover {
    cursor: pointer;
}

.h1Wrapper {
    display: flex;
}

.fatHeader {
    font-weight: bold;
    text-decoration: underline;
}



/*Knop */
.stopKnop {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.stopKnop:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.stopKnop:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.stopKnop:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}